:root {
    --main: #2D3142;
    --bgc: #fff;
    --altbgc: #424861;
    --map: #535979;
    --altmap: #9EA3BD;
    --a: #EF8354;
    --special: #B68F40;
}

#sub_menu {
    background-color: var(--map);
}

button {
    width: 200px;
    height: 50px;
    background-color: var(--map);
    border: 3px solid var(--main);
    border-radius: 25px;
    text-align: center;
    color: var(--main);
    font-size: 16px;
    font-weight: 600;
}

button:hover {
    border: 2px solid var(--bgc);
    font-weight: 300;
    color: var(--bgc);
}

button:active {
    background-color: var(--altbgc);
}

#upcoming {
    margin-left: auto;
    margin-right: 25px;
}

#previous {
    margin-right: auto;
    margin-left: 25px;
}

.trip {
    display: block;
    border: 2px solid var(--map);
    width: 350px;
    height: 455px;
    border-radius: 10px;
    margin: 50px;
    padding: 10px;
}

.photo {
    width: 120px;
    height: 90px;
    float: left;
}

.photo img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.content {
    margin: 0 0 8px 0;
    float: left;
}

.content h3 {
    color: var(--bgc);
    font-size: 18px;
}

.content hr {
    border: 1px solid var(--altmap);
}

.description {
    width: 320px;
    height: 280px;
    background-color: var(--main);
    opacity: 90%;
    padding: 15px;
    margin: 0 0 5px 0;
    border-radius: 10px;
    color: var(--altmap);
    overflow-y: auto;
    float: left;
}
.description p{
    margin-bottom: 12px;
}

.trip_date {
    color: var(--special);
    margin: 8px 0 0 0;
}

.description::-webkit-scrollbar{
	width: 7px;
}
.description::-webkit-scrollbar-track{
	opacity: 0%;
    background: none;
}
