:root {
    --main: #2D3142;
    --bgc: #fff;
    --altbgc: #424861;
    --map: #535979;
    --altmap: #9EA3BD;
    --a: #EF8354;
    --special: #B68F40;
}

* {
    box-sizing: border-box;
}

button {
    width: 200px;
    height: 50px;
    background-color: var(--map);
    border: 3px solid var(--main);
    border-radius: 25px;
    color: var(--main);
    font-size: 16px;
    font-weight: 600;
}

button:hover {
    border: 2px solid var(--bgc);
    font-weight: 300;
    color: var(--bgc);
}

button:active {
    background-color: var(--altbgc);
}

#sub_menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--map);
}

#upcoming, #previous {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

main, section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.trip {
    flex: 0 0 calc(33.33% - 20px);
    justify-content: space-evenly;
    border-radius: 10px;
    border: 2px solid var(--map);
    margin: 25px;
    padding: 15px;
    width: 340px;
    height: auto;
    z-index: 25;
}

.trip h3 {
    font-size: 20px;
    line-height: 15px;
}

.trip img {
    max-width: 100%;
    max-height: 250px;
    border-radius: 5px;
}

.trip .description {
    font-size: 18px;
    color: var(--altmap);
    width: 310px;
    min-height: 200px;
    max-height: 250px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 10px;
    overflow-y: auto;
}

.trip .description p {
    margin-bottom: 18px;
}

.content {
    margin: 15px 0;
}

.content h3 {
    color: var(--bgc);
    font-size: 18px;
}

.content hr {
    border: 1px solid var(--altmap);
}

.description {
    width: 320px;
    height: 280px;
    background-color: var(--main);
    opacity: 90%;
    padding: 15px;
    border-radius: 10px;
    color: var(--altmap);
    overflow-y: auto;
    margin: 20px 0 0 0 ;
}
.description p{
    margin-bottom: 12px;
}

.trip_date {
    color: var(--special);
    margin: 8px 0 0 0;
}

.description::-webkit-scrollbar{
	width: 7px;
}
.description::-webkit-scrollbar-track{
	opacity: 0%;
    background: none;
}

footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 10px 20px;
}

footer p {
    margin: 10px;
}

@media (max-width: 768px) {
    .trip {
        flex: 0 0 calc(50% - 20px);
    }
    footer {
        align-items: center;
    }
}

@media (max-width: 480px) {
    .trip {
        flex: 0 0 calc(100% - 20px);
    }
}