#section-map {
    position: relative;
}

#pop-up {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    min-width: 250px;
    position: absolute;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--altbgc);
    color: white;
    border-radius: 15px;
}

#section-map img {
    height: 100px;
    width: 100%;
    object-fit: cover;
}

#pop-up-photo-article {
    width: 20%;
}

#pop-up-image {
    border-radius: 15px 0 0 15px;
}

#pop-up-description {
    width: 60%;
    text-align: left;
}

#pop-up-price {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    height: 100%;
    background-color: var(--main);
    border-radius: 0 15px 15px 0;
}

#pop-up-price a {
    color: var(--a);
}

#pop-up-price button {
    width: 90%;
}

#title-pop-up {
    margin: 15px 0 4px 15px;
    font-size: 20px;
    font-weight: bold;
}

#date-pop-up {
    margin: 5px 0 4px 15px;
    font-size: 16px;
}

#description-para-pop-up {
    margin: 5px 0 4px 15px;
    font-size: 16px;
    text-overflow: ellipsis;
}

#book-travel {
    width: 80%;
}

#cancel-submit {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
}