:root{
    --main: #2D3142;
    --bgc: #fff;
    --altbgc: #424861;
    --map: #535979;
    --altmap: #9EA3BD;
    --a: #EF8354;
    --special: #B68F40;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--altbgc);
    overflow: hidden;
}

header {
    background-color: var(--main);
    color: var(--bgc);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    width: 100px;
    height: auto;
    margin-left: 20px;
}

nav {
    margin-right: 20px;
}

nav ol {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: var(--bgc);
    font-weight: bold;
}

a:hover {
    transition: 0.5s;
    text-decoration: underline;
    color: var(--a);
}

#current {
    text-decoration: none;
    color: var(--a);
    font-weight: bold;
}

#banner {
    text-align: center;
    padding: 40px 0;
}

img {
    max-width: 100%;
    height: auto;
}

main section #map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: var(--map);
    margin: 20px;
}

.marker {
    background-color: var(--main);
    border-radius: 8px;
    color: var(--bgc);
    font-size: 14px;
    padding: 10px 15px;
    position: relative;
    line-height: 1.5;
    border: 2px white solid;
}

.price {
    padding: 1px 2px;
    border-radius: 3px;
    background-color: var(--bgc);
    font-weight: bold;
    color: var(--main);
}

footer {
    background-color: var(--main);
    color: var(--bgc);
    text-align: center;
    padding: 10px 0;
}

#back_form {
    width: 500px;
    height: 205px;
    background-color: var(--bgc);
    margin: 165px auto;
    border-radius: 10px;
    color: var(--main);
    font-size: large;
}

form{
    width: 100%;
    height: 100%;
}

input, label{
    margin: 5px 15px;
    width: 200px;
    height: 20px;
    color: var(--main);
    padding: 2px 5px;
}

input {
    border-radius: 2px;
    border: none;
    background-color: var(--altmap);
    font-size: 16px;
}

input[type="submit"] {
    width: 211px;
    height: 25px;
    font-weight: bold;
    background-color: var(--special);
    border-radius: 5px;
    border: none;
    opacity: 100%;
}

input[type="submit"]:hover {
    opacity: 90%;
}

fieldset {
    margin: 15px;
    padding: 5px;
    height: 180px;
    border-radius: 7px;
    border: var(--altbgc) solid 1px;
}

legend {
    margin-left: 10px;
    padding: 0 5px;
    font-weight: bold;
    font-size: 24px;
    color: var(--main);
}

td {
    width: 400px;
    text-align: right;
}

.hide {
    display: none !important;
}

::-webkit-scrollbar{
	width: 11px;
	height: 11px;
}
::-webkit-scrollbar-track{
	opacity: 90%;
    background-color: #414455;
}
::-webkit-scrollbar-thumb{
	background: #757885;
	border-radius: 100vw;
	opacity: 0%;
}
::-webkit-scrollbar-thumb:hover{
	background: #858896;
}
@supports (scrollbar-color: red blue){
	*{
		scrollbar-color: #757885;
		scrollbar-width: 12px;
		/* scrollbar-color: silver #878787; */
	}
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    #logo img {
        margin: 10px 0;
    }

    nav {
        margin: 20px 0;
    }

    nav li {
        display: block;
        margin: 10px 0;
    }

    main section:last-child {
        height: 200px;
    }
}