#submit-book-sect {
    position: fixed;
    left: 25%;
    top: 5%;
    width: 50%;
    max-height: 90%; /* Set a maximum height to limit the scrollable area */
    overflow-y: auto; /* Use "auto" for vertical scrolling */
    background-color: var(--map);
    border-radius: 10px;
    color: white;
    z-index: 2;
}

#submit-book-sect img {
    object-fit: cover;
    position: relative;
    left: 5%;
    width: 90%;
    height: 50%;
    border-radius: 10px;
}

#submit-book-sect form {
    width: 100%;
}

#submit-book-submit {
    margin: 0;
    padding: 0;
    position: sticky;
    width: 90%;
    left: 5%;
    bottom: 2%;
    height: 40px;
}

#submit-book-sect p, #submit-book-sect h1 {
    margin: 15px 5%;
    text-overflow: ellipsis;
}

#cancel-submit {
    position: absolute;
    top: 30px;
    right: 5%;
    width: 25px;
}